:root {
    --primary-color: #0056b3;
    --secondary-color: #007BFF;
    --accent1-color: #ff9400;
    --accent2-color: #f9c74f;
  
    --heading-font: "Merriweather", serif;
    --paragraph-font: "Robot", sans-serif;
}

body {
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    text-align: center;
    padding-top: 20px;
}

p {
    font-family: var(--paragraph-font);
    padding: 0 30px;
}

.logo {
    display: block;
    margin: auto;
    padding: 30px 0;
}

#menu {
    position: absolute;
    top: 50px;
    left: 85%;
    transform: translateX(-50%);
    font-size: 10vw;
    border: 0;
    background: none;
    color: white;
    z-index: 1;
  }

.main-nav {
    position: absolute;
    top: 3rem;
    width: 100%;
  }
  
  #menu::before {
    content: "☰";
    color: #00488b;
  }
  
  #menu.open::before {
    content: "X";
    color: #fff;
  }
  
  .open a {
    display: block;
    background-color: #00488b;
  }

  header {
    position: relative;
    width: 100%;
  }
  
  header nav a {
    display: none;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    padding: 5px 0;
  }

  header nav a:hover {
    color: #007BFF;
  }

  .active {
    text-decoration: underline;
  }

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
    margin-bottom: 30px;
  }

  .herolabel {
	position: absolute;
	padding: 0 1rem;
    text-align: center;
    color: #00488b;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 350px;
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #007BFF;
}

.who img {
    width: 100%;
    height: auto;
}

.info {
    margin-top: 40px;
}

.weather-container span,
.weather-container figcaption,
.forecast-container figure p {
    margin-top: 5px;
    font-family: var(--paragraph-font);
    font-size: 1em;
}

.weather-container, .forecast-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column; /* This ensures vertical alignment */
    text-align: center;
}

#separator {
    visibility: hidden;
}

.weather-section {
    margin: 20px;
    padding: 20px;
    border: 4px solid var(--accent2-color);
    border-radius: 5px;
    text-align: center; /* Center-align text within the section */
}

#weather hr {
    border: 2px solid var(--accent2-color);
}

.forecast-day {
    margin-top: 10px;
    /* text-align: center; */
}

/* Additional styling for figure elements inside weather-container */
.weather-container figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* This ensures vertical alignment */
}

.weather-container img {
    margin-bottom: 10px;
}

.weather-container span,
.weather-container figcaption {
    margin-top: 5px;
}


#banner {
    background-color: #f9c74f;
    color: #000;
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 1.2rem;
    height: 20px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
}

#banner.hidden {
    opacity: 0;
    visibility: hidden;
}

#banner p {
    margin: 0;
}

#banner button {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.scooters {
    display: flex;
    justify-content: center;
}

.scooters img {
    max-width: 100%;
    height: auto;
}

.rentals {
    background-color: #00488b;
    padding: 30px 0;
}

.rentals p, .rentals h2, .rentals h3 {
    color: #fff;
    padding-bottom: 20px;
}

.rentals img {
    display: block;
    margin: auto;
}

.social-container {
    text-align: center;
}

.social-container h2 {
    margin-bottom: 20px;
}

.social-container a {
    display: inline-block;
    margin: 0 10px;
}

.social-container img {
    width: 100px;
    height: 100px;
}

.social-container a:hover {
    opacity: .5;
}

footer {
    display: grid;
    margin-top: 60px;
    border-top: 6px solid var(--primary-color);
    text-align: center;
}

#logo {
    margin-top: 30px;
}

@media screen and (max-width: 400px) {
    .scooters img {
        max-width: 350px;
        margin: 0 auto;
    }
  }


@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }  
  }