* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --primary-color: #0056b3;
    --secondary-color: #007BFF;
    --accent1-color: #ff9400;
    --accent2-color: #f9c74f;
  
    --heading-font: "Merriweather", serif;
    --paragraph-font: "Robot", sans-serif;
}

body {
    font-family: var(--paragraph-font);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    text-align: center;
    padding-top: 20px;
}

.logo {
    display: block;
    margin: auto;
    padding: 30px 0;
}

#menu {
    position: absolute;
    top: 50px;
    left: 85%;
    transform: translateX(-50%);
    font-size: 10vw;
    border: 0;
    background: none;
    color: white;
    z-index: 1;
  }

.main-nav {
    position: absolute;
    top: 3rem;
    width: 100%;
  }
  
  #menu::before {
    content: "☰";
    color: #00488b;
  }
  
  #menu.open::before {
    content: "X";
    color: #fff;
  }
  
  .open a {
    display: block;
    background-color: #00488b;
  }

  header {
    position: relative;
    width: 100%;
  }
  
  header nav a {
    display: none;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    padding: 5px 0;
  }

  header nav a:hover {
    color: #007BFF;
  }

  .active {
    text-decoration: underline;
  }

  .hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
  }
  
  .herolabel {
    position: absolute;
    color: var(--accent2-color);
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 10%;
    padding: 2%;
  }
  
  .herolabel h1 {
    color: var(--accent2-color);
  }