@media screen and (min-width: 401px) and (max-width: 768px) {
    .scooters {
        display: flex;
        justify-content: center;
    }
    
    .scooters img {
        max-width: 500px;
        /* width: 100%; */
        height: auto;
        margin: 0 auto;
    }

    .who-para {
        padding: 20px 40px;
    }
  }