body {
    font-family: 'Robot', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 2rem;
    background-color: rgb(98, 179, 233);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

section {
    background-color: #fff;
    padding: 1rem;
}