* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #254559;
    --secondary-color: #89CAD9;
    --accent1-color: #F2EBDC;
    --accent2-color: #F29849;
    --accent3-color: #F26A4B;
  
    --heading-font: "Forum", serif;
    --paragraph-font: "Poppins", sans-serif;
  
    --nav-background-color: #F2EBDC;
    --nav-link-color: #254559;
    --nav-hover-link-color: #89CAD9;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 2rem 0;
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    row-gap: 2rem;
}

#logo-mobile {
    grid-row: 2;
    margin-left: 6rem;
}

#logo-mobile img {
    width: 40%;
}

/* dark/light mode switch */
.switch {
  grid-row: 1;
  grid-column: 2/3;
  position: absolute;
  display: flex;
  width: 60px;
  height: 34px;
  top: px;
  right: 2.1rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: url('../images/dark-mode-button.svg');
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  /* background-color: #fff; */
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent3-color);
}

input:focus + .slider {
  box-shadow: 0 0 4px var(--accent3-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content: url('../images/light-mode-button.svg');
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




#menu {
    grid-row: 2;
    grid-column: 2/3;
    font-size: 10vw;
    border: 0;
    background: none;
    color: var(--nav-link-color);
    vertical-align: text-top;
}

#larger-nav {
    display: none;
}

#mobile-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7rem;
    width: 100%;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.open a {
    display: block;
    background-color: var(--primary-color);
    z-index: 1;
    /* opacity: .9; */
 }

 nav a {
    display: none;
    padding: 2rem;
    text-align: center;
    color: var(--accent1-color);
    text-decoration: none;
    font-size: 2em;
 }

/* menu styles inspired from menu hover website */

 .link-style.active::before {
    width: 100%;
    transition: width 0.25s ease-in-out;
  }
  
  .link-style.active::after {
    width: 100%;
    transition: width 0.25s ease-in-out 0.25s;
  }

 .link-style {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
  }
  
  .link-style::before,
  .link-style::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background: var(--accent3-color);
    transition: all 0.5s;
  }
  
  .link-style::before {
    top: 0;
    left: 0;
  }
  
  .link-style::after {
    bottom: 0;
    right: 0;
  }
  
  .link-style:hover::before {
    width: 100%;
    transition: width 0.25s ease-in-out;
  }
  
  .link-style:hover::after {
    width: 100%;
    transition: width 0.25s ease-in-out 0.25s;
  }

 .hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

.hero h1 {
    position: absolute;
    color: var(--accent3-color);
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 10%;
    padding: 2%;
}

h2 {
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    font-size: 1.8rem;
}

.card h3 {
    text-align: center;
}

p {
    padding: 0 2rem;
    font-size: 1.2rem;
}

footer {
    border-top: 3px solid var(--accent3-color);
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
}

footer p {
    font-size: 1em;
}

footer img {
    width: 40%;
}

.card {
    clear: both;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 4rem;
}

.card img {
    width: 100%;
    height: auto;
}

#weather {
    text-align: center;
}

.join {
    margin: 3rem 0;
}

.join p {
    padding-top: 2rem;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--nav-link-color);
    border-radius: 1.5rem;
    margin: auto;
    padding: 1.5rem 3rem;
    color: var(--accent1-color);
    text-decoration: none;
}

.button a {
    text-decoration: none;
    padding: 1.5rem 4rem;
}

@media screen and (max-width: 768px) {
    #events p {
        margin-bottom: 2rem;
    }
}