:root {
    --primary-color: #254559;
    --secondary-color: #89CAD9;
    --accent1-color: #F2EBDC;
    --accent2-color: #F29849;
    --accent3-color: #F26A4B;
  
    --heading-font: "Forum", serif;
    --paragraph-font: "Poppins", sans-serif;
  
    --nav-background-color: #F2EBDC;
    --nav-link-color: #254559;
    --nav-hover-link-color: #89CAD9;
}

@media  screen and (min-width: 1200px) {
    #menu, #mobile-nav, #logo-mobile {
        display: none;
    }

    .small, .medium {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr;
    }

    header nav a {
        display: flex;
        color: var(--nav-link-color);
        font-size: clamp(1rem, 2vw, 1.6rem);
    }

    #larger-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-links li {
        padding: 2rem;
      }
    
}

@media  screen and (min-width: 769px) {

    /* header {
        display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        justify-content: center;
        justify-items: space-between;
    } */

    #events, #company-spot, .card {
        max-width: 80%;
        margin: 0 auto;
    }

    #larger-nav a {
        padding: 2rem;
    }

    .card, footer, .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 2rem;
    }

    #events p {
        grid-column: 7/12;
        grid-row: 2;
        align-self: center;
        font-size: clamp(1rem, 2vw, 1.4rem);
    }

    #events h2 {
        grid-row: 1;
        grid-column: 1/13;
        padding-bottom: 2rem;
    }

    h1 {
        font-size: clamp(2.6rem, 5vw, 3.6rem);
    }

    h2 {
        font-size: clamp(2rem, 4vw, 3rem);
    }

    h3 {
        font-size: clamp(1.5rem, 3vw, 2rem);
        text-align: center;
    }

  .button {
        grid-row: 3;
        grid-column: 6/12;
    }
    
    #events picture {
        grid-column: 2/7;
    }

    #company-spot h2 {
        grid-column: 1/14;
        padding-bottom: 2rem;
    }

    #company-spot {
        grid-template-columns: repeat(10, 1fr);
    }

    .company1 {
        grid-column: 2/5;
    }

    .company2 {
        grid-column: 5/8;
    }

    .company3 {
        grid-column: 8/11;
    }

    .card #weather {
        grid-column: 2/6;
    }

    .card .join {
        grid-column: 7/11;
        margin-top: 0;
    }

    .join p {
        padding: 2rem 0;
        text-align: center;
    }

    .footer-logo {
        grid-column: 3/5;
        width: 70%;
        justify-self: center;
    }

    footer p:first-of-type {
        grid-column: 5/7;
        align-content: center;
    }

    footer p:nth-of-type(2) {
        grid-column: 8/10;
        align-content: center;
    }

    footer p:nth-of-type(3) {
        grid-row: 3;
        grid-column: 1/13;
        padding-top: 2rem;
    }

    footer p:nth-of-type(4) {
        grid-row: 4;
        grid-column: 1/13;
    }

    footer .social-links {
        grid-template-columns: repeat(3, 1fr);
        grid-row: 2;
        grid-column: 4/10;
    }

    .social-links {
        width: 100%;
    }

    .social-links ul {
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    }

    .social-links li {
        grid-column: 2;
        padding: .5rem;
      }
      
      .social-links li:nth-of-type(2) {
        grid-column: 3;
      }
      
      .social-links li:nth-of-type(3) {
        grid-column: 4;
      }

    .social-links img {
        width: 50%;
    }

    /* Discover Page */

    .side-info, .form-side {
        grid-column: 3/6;
    }

    .discover-images, .member-side {
        grid-column: 6/11;
    }

    main img {
        transition: transform 1s, box-shadow 1s;
    }

    .discover-images img:hover {
        transform: scale(.95);
        box-shadow:  0px 0px 10px 1px var(--accent3-color);
    }

    .discover-title {
        grid-column: 1/13;
    }

    .discover-title::after {
        width: 30%;
      }

    /* Join Page */

    .joinheader, .thanks {
        grid-column: 1/13;
    }

    .side-gold, .side-silver, .side-bronze, .side-nonprofit {
        margin-top: 7%;
      }
}