@media  screen and (min-width: 401px) and (max-width: 1199px) {
    .small, .large {
        display: none;
    }
}

@media  screen and (min-width: 769px) and (max-width: 1199px) {
    #logo-mobile img {
        width: 170px;
    }

    .switch {
        grid-column: 4/5;
    }

    header {
        grid-template-columns: 1fr 2fr 1fr 2fr;
    }

    #logo-mobile {
        grid-column: 1/4;
    }
}

@media screen and (min-width: 769px) {
    #menu {
        grid-column: 2;
        width: 150px;
        grid-column: 4/5;
    }

    #mobile-nav {
        top: 12rem;
    }

    #events p {
        margin-bottom: 2rem;
    }

    #spots {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        justify-content: center;
        padding: 4rem 2rem;
        margin: 0 auto;
        max-width: 1200px;
    }
}

