* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #10CC4A;
    --secondary-color: #000;
    --accent1-color: #60FF91;
    --accent2-color: #fff;
  
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Cabin", sans-serif;
  
    --nav-background-color: #000;
    --nav-link-color: #60FF91;
    --nav-hover-link-color: #60FF91;
    --nav-hover-background-color: #10CC4A;
}

body {
    max-width: 700px;
    font-family: var(--paragraph-font);
    margin: 0 auto;
    line-height: 1.5em;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    padding: 35px 0;
}

header img {
    margin-right: 30px;
}

header h1 {
    align-self: center;
    padding-left: 0;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
	position: absolute;
	background: radial-gradient(#fff, #10CC4A);
	border: 1px solid rgba(0,0,0,.75);
    border-radius: 0.5rem;
	padding: 0 0.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 900;
	font-size: 1rem;
	font-family: var(--paragraph-font);
}

.profile {
    display: block;
    margin: auto;
    max-width: 125px;
    border-radius: 50%;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

nav {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-background-color);
    padding: 1rem;
}

 nav a {
    display: none;
    text-align: center;
    padding: .7rem;
    color: var(--nav-hover-background-color);
    text-decoration: none;
    font-size: 1.2em;
 }

 nav a:hover {
    color: var(--nav-link-color);
 }

 nav .active {
    border-bottom: 2px solid var(--primary-color);
    color: var(--nav-link-color);
 }

 .open a {
    display: block;
 }

 main {
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
 }
 main h2 {
    padding: 2rem 0 0.3rem 0;
    text-align: center;
 }

 footer {
    margin-top: 1.5rem;
    padding: 1.5rem 0;
    background-color: var(--primary-color);
    text-align: center;
 }

.card {
    margin-top: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

hr {
    border-top: 2px solid var(--accent1-color);
}

.card h3 {
    padding: 1rem 0;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 10px 10px 0 0;
}

.card ul {
    padding: 1rem;
}

.card ul li {
    list-style-type: none;
}

.card p {
    padding: 1rem 0 1rem 0;
    text-align: center;
}

#card-map iframe {
    width: 100%;
    margin-top: 1.5rem;
}

.label {
    font-weight: 900;
}

@media  screen and (min-width: 100px) {
    .herolabel {
        top: 50px;
	    left: 50px;
    }
}