@media  screen and (max-width: 768px) {
    header h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 3.8vw;
    }

    h3 {
        font-size: 3.8vw;
    }

    li {
        font-size: 2.9vw;
    }

    img {
        width: 60%;
    }

    #menu {
        font-size: 7vw;
        border: 0;
        background: none;
        color: var(--secondary-color);
        grid-column: 3/4;
        bottom: 8rem;
        left: 22rem;
    }
}